body
{
    background-color: #115023;
}

.text
{
    color: #FFFF00;
    text-align: center;
}
#canvas
{
    background-color: white;
    border: 1px solid black;
}

#mainContent
{
    width: 640px;
    margin: 0 auto;
}